@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
    <head>

        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/custom.css" rel="stylesheet" />
    </head>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">FileUploadDownload</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="#">Upload</a>
                    <a class="nav-link" href="#">Download</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <h1 class="cover-heading">File Upload</h1>
            <p class="lead">This button file uploading under wwroot/images.</p>
            <p class="lead">
                <div>
                    <input type="file" class="btn btn-lg btn-secondary" />
                </div>
            </p>

        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Created by Ozan Gelmez</p>
            </div>
        </footer>
    </div>


</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script>

    $(document).ready(function () {
        let onchange = function () {
            let _thisFunction = $(this)[0];
            let dataForm = new FormData();
            dataForm.append('File', _thisFunction.files[0]);
            let onSuccess = function (model) {
                console.log(model);
            };
            $.ajax({
                method: 'POST',
                url: 'home/upload',
                data: dataForm,
                processData: false,
                contentType: false
            }).done(onSuccess);
        };

        $(document).on('change', 'input[type=file]', onchange);
    });
</script>
